*{
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    width: 70%;
    height: 100rem;
    margin: 0px auto;
}
.header{
    background-color: black;
    color: whitesmoke;
    height: 5rem;
    padding: 1rem;
    padding-left: 2rem;
}
.mainContainer{
    width: 100%;
    height: 70rem;
    display: flex;
    justify-content: space-between;
}

#yourFeedHeader{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.sideNave{
    width: 30%;
    height: 30rem;
    border: 5px solid black;
}
.mainFeedbackContainer{
    width: 65%;
    height: 50rem;
    
}
.feedbackContainer{
    width: 100%;
    height: 14rem;
    border: 5px solid black;
    padding: 1rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
}
.upperFeedbackContainer{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    font-size: x-large;
    font-weight: 900;

}
.numberOfLikes{
    margin-left: 15rem;
}
.upperFeedbackContainer span{
    margin-right: 5rem;
}
.likeButton{
    width: 5rem;
    height: 2.5rem;
    background-color:#ffd868;
    box-shadow: 4px 4px black;
    border: 3px solid black;
    font-size: x-large;
    font-weight: 900;

}
.lowerFeedbackContainer{
    width: 100%;
    height: 8.5rem;
    margin-top: 1rem;
    padding: 1rem;
    font-size: x-large;
}
.feedbackContainer:nth-child(2) .numberOfLikes{
color: red;
}